In [1]:
# this is the library that we will use to create break times in order to mimic human behaviour
import time
from getpass import getpass


# Juicy stuff- these are the Classes we will use for interaction with a webpage:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager


# library for interacting with the operating system
import os

# you know pandas it's your best buddy
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import re

# library for directory location:

import pathlib
from os.path import join

#Ignore warning -- Some methods are going to be deprecated and I didn't change all (mainly in the function scrapper)
import warnings
warnings.filterwarnings('ignore')

from playsound import playsound
from datetime import datetime
import mysql.connector

In [19]:
# Step 1: Connect to the MySQL Database
connection = mysql.connector.connect(
    host="127.0.0.1",         # Database host (use "localhost" if running locally)
    user="root",              # Your MySQL username
    password="Lolablades1.",   # Your MySQL password
    database="Flights"         # Database name
)

cursor = connection.cursor()

# Step 2: Double-check the connection
if connection.is_connected():
    print("Connection to the database is successful!")
    
    # Step 3: Run a simple query to verify the connection
    try:
        cursor.execute("SHOW TABLES;")
        tables = cursor.fetchall()
        print("Tables in the database:", tables)
    except mysql.connector.Error as err:
        print(f"Error: {err}")
else:
    print("Connection failed.")

Connection to the database is successful!
Tables in the database: [('berlin_arr_vis',), ('berlin_arrivals',), ('berlin_dep_vis',), ('berlin_departures',), ('heathrow_arr_vis',), ('heathrow_arr_vis_full',), ('heathrow_arrivals',), ('heathrow_dep_vis',), ('heathrow_dep_vis_full',), ('heathrow_departures',), ('lisbon_arr_vis',), ('lisbon_arrivals',), ('lisbon_dep_vis',), ('lisbon_departures',)]

In [20]:
# Load the CSV file
csv_file_path = '/Users/martynas/Desktop/Ironhack/Project - Final/airlines_list.csv'
df = pd.read_csv(csv_file_path)

# Convert column names to lowercase
df.columns = df.columns.str.lower()


# Create the table (if not exists) with lowercase column names
create_table_query = """
CREATE TABLE IF NOT EXISTS airlines_list (
    airline VARCHAR(255),
    airline_type VARCHAR(10)
);
"""
cursor.execute(create_table_query)

# Prepare SQL query to insert data
insert_query = """
INSERT INTO airlines_list (airline, airline_type)
VALUES (%s, %s)
"""

# Insert data into the table
for i, row in df.iterrows():
    try:
        cursor.execute(insert_query, (row['airline'], row['type']))
    except mysql.connector.Error as err:
        print(f"Error at row {i}: {err}")

# Commit the transaction
connection.commit()

# Close the connection
cursor.close()
connection.close()

print("CSV file uploaded successfully!")

CSV file uploaded successfully!