# We are going to write a script that will web scrape flight information for multiple flights from the official Berlin Brandenburg Airport website:

---

### Import the necessary libraries

In [1]:
# this is the library that we will use to create break times in order to mimic human behaviour
import time
from getpass import getpass


# Juicy stuff- these are the Classes we will use for interaction with a webpage:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager


# library for interacting with the operating system
import os

# you know pandas it's your best buddy
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import re

# library for directory location:

import pathlib
from os.path import join

#Ignore warning -- Some methods are going to be deprecated and I didn't change all (mainly in the function scrapper)
import warnings
warnings.filterwarnings('ignore')

from playsound import playsound
from datetime import datetime
import mysql.connector

### Load a driver and the website

In [2]:
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

In [3]:
driver.get('https://ber.berlin-airport.de/en/flying/departures-arrivals.html?date=2024-06-27&flightType=D&search=')

### Click cookies

In [4]:
try:
    cookie_button = driver.find_element(By.ID, "CybotCookiebotDialogBodyLevelButtonLevelOptinAllowAll")
    cookie_button.click()
    time.sleep(2.5)
except:
    print("Cookies already accepted.")

### Get the href links

In [7]:
html = driver.page_source
soup = BeautifulSoup(html)
flights = soup.find_all('div', attrs= {'class' : 'cmp-flightlist__list__items'})
result_set_html = ''.join(str(tag) for tag in flights)
new_flights = BeautifulSoup(result_set_html, 'html.parser')
base_url = "https://ber.berlin-airport.de"
a_tags = new_flights.find_all('a')
href_list = [base_url + tag['href'] for tag in a_tags if 'href' in tag.attrs]
date_of_scrape = input("What Day: ")
arr_dep = input("Arrival or Departure: ")
file_path = f"/Users/martynas/Desktop/Ironhack/Project - Final/Href Links Collection/Berlin Href Links/{arr_dep}_links_{date_of_scrape}.txt"

with open(file_path, 'w') as file:
    for href in href_list:
        file.write(f"{href}\n")

What Day: 13
Arrival or Departure: arrival

# Open the links file into a list

In [21]:
date_of_scrape = input("What Day: ")
arr_dep = input("Arrival or Departure: ")
file_path = f"/Users/martynas/Desktop/Ironhack/Project - Final/Href Links Collection/Berlin Href Links/{arr_dep}_links_{date_of_scrape}.txt"
with open(file_path, 'r') as file:
    href_list_dep = [line.strip() for line in file]

What Day: 07
Arrival or Departure: departure

In [16]:
date_of_scrape = input("What Day: ")
arr_dep = input("Arrival or Departure: ")
file_path = f"/Users/martynas/Desktop/Ironhack/Project - Final/Href Links Collection/Berlin Href Links/{arr_dep}_links_{date_of_scrape}.txt"
with open(file_path, 'r') as file:
    href_list_arr = [line.strip() for line in file]

What Day: 07
Arrival or Departure: arrival

In [25]:
len(href_list_arr)

217

### Test for elements

In [23]:
driver.get(href_list_arr[154])

In [24]:
driver.get(href_list_dep[154])

In [25]:
href_list_arr[0]

'https://ber.berlin-airport.de/en/flying/departures-arrivals/flugdetails.html?flightId=1248662'

In [42]:
new_element = driver.find_element(By.CSS_SELECTOR,"strong[data-flight-data^='dep_expected_time']").text

In [43]:
new_element

'18/06/2024 13:00'

## Run to create a database

### Departures

In [8]:
flight_data_dep = []
date_of_scrape = input("What Day: ")
for_loading = 0

with open(f"/Users/martynas/Desktop/Ironhack/Project - Final/Href Links Collection/Berlin Href Links/departure_links_{date_of_scrape}.txt", 'r') as file:
    href_list_dep = [line.strip() for line in file]

for link in href_list_dep:
    
    driver.get(link)
    time.sleep(1)
    
    try:
        cookie_button = driver.find_element(By.ID, "CybotCookiebotDialogBodyLevelButtonLevelOptinAllowAll")
        cookie_button.click()
        time.sleep(1.5)
    except:
        pass
    
    driver.execute_script("document.body.style.zoom='100%'")

    driver.execute_script("document.body.style.zoom='67%'")
    time.sleep(1.3)
    
    
    depart_air = driver.find_element(By.CSS_SELECTOR,"h2[data-flight-data^='dep_airport_name']").text
    arrival_air = driver.find_element(By.CSS_SELECTOR,"h2[data-flight-data^='arr_airport_name']").text
    date_time = driver.find_element(By.CSS_SELECTOR,"strong[data-flight-data^='dep_scheduled_time']").text
    actual_time = driver.find_element(By.CSS_SELECTOR,"strong[data-flight-data^='dep_expected_time']").text
    terminal = driver.find_element(By.CSS_SELECTOR,"i[data-flight-data^='terminal']").text
    check_in = driver.find_element(By.CSS_SELECTOR,"strong[data-flight-data^='checkin_counter']").text
    gate = driver.find_element(By.CSS_SELECTOR,"strong[data-flight-data^='gate']").text
    airline = driver.find_element(By.CSS_SELECTOR,"span[data-flight-data^='airline_name']").text
    flight_nr = driver.find_element(By.CSS_SELECTOR,"strong[data-flight-data^='flight_number_details']").text
    aircraft_type = driver.find_element(By.CSS_SELECTOR,"strong[data-flight-data^='aircraft_type']").text
    plane_reg = driver.find_element(By.CSS_SELECTOR,"strong[data-flight-data^='aircraft_reg']").text
    status = driver.find_element(By.CSS_SELECTOR,"u[data-flight-data^='flight_status_label']").text

    flight_idx_list_dep = [depart_air, arrival_air, date_time, actual_time, terminal, check_in, gate, flight_nr, aircraft_type, plane_reg, status, airline]
    
    flight_data_dep.append(flight_idx_list_dep)
    
    
    for_loading = for_loading+1
    print(f"{for_loading} out of {len(href_list_dep)} scraped")
    
departure_dataframe = pd.DataFrame(flight_data_dep,
                                 columns = ["Departure", "Destination", "Date and Time", "Actual Departure", "Terminal", "Check In" , "Gate", "Flight Number", "Aircraft Type", "Plane Reg", "Flight Status", "Airline" ]
                                )

departure_dataframe.to_excel(f"/Users/martynas/Desktop/Ironhack/Project - Final/Data Collection/Berlin Data/departures_september_{date_of_scrape}.xlsx",
                           sheet_name='Flights',
                           index= False)

What Day: 13
1 out of 302 scraped
2 out of 302 scraped
3 out of 302 scraped
4 out of 302 scraped
5 out of 302 scraped
6 out of 302 scraped
7 out of 302 scraped
8 out of 302 scraped
9 out of 302 scraped
10 out of 302 scraped
11 out of 302 scraped
12 out of 302 scraped
13 out of 302 scraped
14 out of 302 scraped
15 out of 302 scraped
16 out of 302 scraped
17 out of 302 scraped
18 out of 302 scraped
19 out of 302 scraped
20 out of 302 scraped
21 out of 302 scraped
22 out of 302 scraped
23 out of 302 scraped
24 out of 302 scraped
25 out of 302 scraped
26 out of 302 scraped
27 out of 302 scraped
28 out of 302 scraped
29 out of 302 scraped
30 out of 302 scraped
31 out of 302 scraped
32 out of 302 scraped
33 out of 302 scraped
34 out of 302 scraped
35 out of 302 scraped
36 out of 302 scraped
37 out of 302 scraped
38 out of 302 scraped
39 out of 302 scraped
40 out of 302 scraped
41 out of 302 scraped
42 out of 302 scraped
43 out of 302 scraped
44 out of 302 scraped
45 out of 302 scraped
46 out of 302 scraped
47 out of 302 scraped
48 out of 302 scraped
49 out of 302 scraped
50 out of 302 scraped
51 out of 302 scraped
52 out of 302 scraped
53 out of 302 scraped
54 out of 302 scraped
55 out of 302 scraped
56 out of 302 scraped
57 out of 302 scraped
58 out of 302 scraped
59 out of 302 scraped
60 out of 302 scraped
61 out of 302 scraped
62 out of 302 scraped
63 out of 302 scraped
64 out of 302 scraped
65 out of 302 scraped
66 out of 302 scraped
67 out of 302 scraped
68 out of 302 scraped
69 out of 302 scraped
70 out of 302 scraped
71 out of 302 scraped
72 out of 302 scraped
73 out of 302 scraped
74 out of 302 scraped
75 out of 302 scraped
76 out of 302 scraped
77 out of 302 scraped
78 out of 302 scraped
79 out of 302 scraped
80 out of 302 scraped
81 out of 302 scraped
82 out of 302 scraped
83 out of 302 scraped
84 out of 302 scraped
85 out of 302 scraped
86 out of 302 scraped
87 out of 302 scraped
88 out of 302 scraped
89 out of 302 scraped
90 out of 302 scraped
91 out of 302 scraped
92 out of 302 scraped
93 out of 302 scraped
94 out of 302 scraped
95 out of 302 scraped
96 out of 302 scraped
97 out of 302 scraped
98 out of 302 scraped
99 out of 302 scraped
100 out of 302 scraped
101 out of 302 scraped
102 out of 302 scraped
103 out of 302 scraped
104 out of 302 scraped
105 out of 302 scraped
106 out of 302 scraped
107 out of 302 scraped
108 out of 302 scraped
109 out of 302 scraped
110 out of 302 scraped
111 out of 302 scraped
112 out of 302 scraped
113 out of 302 scraped
114 out of 302 scraped
115 out of 302 scraped
116 out of 302 scraped
117 out of 302 scraped
118 out of 302 scraped
119 out of 302 scraped
120 out of 302 scraped
121 out of 302 scraped
122 out of 302 scraped
123 out of 302 scraped
124 out of 302 scraped
125 out of 302 scraped
126 out of 302 scraped
127 out of 302 scraped
128 out of 302 scraped
129 out of 302 scraped
130 out of 302 scraped
131 out of 302 scraped
132 out of 302 scraped
133 out of 302 scraped
134 out of 302 scraped
135 out of 302 scraped
136 out of 302 scraped
137 out of 302 scraped
138 out of 302 scraped
139 out of 302 scraped
140 out of 302 scraped
141 out of 302 scraped
142 out of 302 scraped
143 out of 302 scraped
144 out of 302 scraped
145 out of 302 scraped
146 out of 302 scraped
147 out of 302 scraped
148 out of 302 scraped
149 out of 302 scraped
150 out of 302 scraped
151 out of 302 scraped
152 out of 302 scraped
153 out of 302 scraped
154 out of 302 scraped
155 out of 302 scraped
156 out of 302 scraped
157 out of 302 scraped
158 out of 302 scraped
159 out of 302 scraped
160 out of 302 scraped
161 out of 302 scraped
162 out of 302 scraped
163 out of 302 scraped
164 out of 302 scraped
165 out of 302 scraped
166 out of 302 scraped
167 out of 302 scraped
168 out of 302 scraped
169 out of 302 scraped
170 out of 302 scraped
171 out of 302 scraped
172 out of 302 scraped
173 out of 302 scraped
174 out of 302 scraped
175 out of 302 scraped
176 out of 302 scraped
177 out of 302 scraped
178 out of 302 scraped
179 out of 302 scraped
180 out of 302 scraped
181 out of 302 scraped
182 out of 302 scraped
183 out of 302 scraped
184 out of 302 scraped
185 out of 302 scraped
186 out of 302 scraped
187 out of 302 scraped
188 out of 302 scraped
189 out of 302 scraped
190 out of 302 scraped
191 out of 302 scraped
192 out of 302 scraped
193 out of 302 scraped
194 out of 302 scraped
195 out of 302 scraped
196 out of 302 scraped
197 out of 302 scraped
198 out of 302 scraped
199 out of 302 scraped
200 out of 302 scraped
201 out of 302 scraped
202 out of 302 scraped
203 out of 302 scraped
204 out of 302 scraped
205 out of 302 scraped
206 out of 302 scraped
207 out of 302 scraped
208 out of 302 scraped
209 out of 302 scraped
210 out of 302 scraped
211 out of 302 scraped
212 out of 302 scraped
213 out of 302 scraped
214 out of 302 scraped
215 out of 302 scraped
216 out of 302 scraped
217 out of 302 scraped
218 out of 302 scraped
219 out of 302 scraped
220 out of 302 scraped
221 out of 302 scraped
222 out of 302 scraped
223 out of 302 scraped
224 out of 302 scraped
225 out of 302 scraped
226 out of 302 scraped
227 out of 302 scraped
228 out of 302 scraped
229 out of 302 scraped
230 out of 302 scraped
231 out of 302 scraped
232 out of 302 scraped
233 out of 302 scraped
234 out of 302 scraped
235 out of 302 scraped
236 out of 302 scraped
237 out of 302 scraped
238 out of 302 scraped
239 out of 302 scraped
240 out of 302 scraped
241 out of 302 scraped
242 out of 302 scraped
243 out of 302 scraped
244 out of 302 scraped
245 out of 302 scraped
246 out of 302 scraped
247 out of 302 scraped
248 out of 302 scraped
249 out of 302 scraped
250 out of 302 scraped
251 out of 302 scraped
252 out of 302 scraped
253 out of 302 scraped
254 out of 302 scraped
255 out of 302 scraped
256 out of 302 scraped
257 out of 302 scraped
258 out of 302 scraped
259 out of 302 scraped
260 out of 302 scraped
261 out of 302 scraped
262 out of 302 scraped
263 out of 302 scraped
264 out of 302 scraped
265 out of 302 scraped
266 out of 302 scraped
267 out of 302 scraped
268 out of 302 scraped
269 out of 302 scraped
270 out of 302 scraped
271 out of 302 scraped
272 out of 302 scraped
273 out of 302 scraped
274 out of 302 scraped
275 out of 302 scraped
276 out of 302 scraped
277 out of 302 scraped
278 out of 302 scraped
279 out of 302 scraped
280 out of 302 scraped
281 out of 302 scraped
282 out of 302 scraped
283 out of 302 scraped
284 out of 302 scraped
285 out of 302 scraped
286 out of 302 scraped
287 out of 302 scraped
288 out of 302 scraped
289 out of 302 scraped
290 out of 302 scraped
291 out of 302 scraped
292 out of 302 scraped
293 out of 302 scraped
294 out of 302 scraped
295 out of 302 scraped
296 out of 302 scraped
297 out of 302 scraped
298 out of 302 scraped
299 out of 302 scraped
300 out of 302 scraped
301 out of 302 scraped
302 out of 302 scraped

### Arrivals

In [9]:
flight_data_arr = []
date_of_scrape = input("What Date: ")
for_loading = 0

with open(f"/Users/martynas/Desktop/Ironhack/Project - Final/Href Links Collection/Berlin Href Links/arrival_links_{date_of_scrape}.txt", 'r') as file:
    href_list_arr = [line.strip() for line in file]

for link in href_list_arr:
    
    driver.get(link)
    time.sleep(1)
    
    try:
        cookie_button = driver.find_element(By.ID, "CybotCookiebotDialogBodyLevelButtonLevelOptinAllowAll")
        cookie_button.click()
        time.sleep(1.5)
    except:
        pass
    
    driver.execute_script("document.body.style.zoom='100%'")

    driver.execute_script("document.body.style.zoom='67%'")
    time.sleep(1.3)
    
    
    depart_air = driver.find_element(By.CSS_SELECTOR,"h2[data-flight-data^='dep_airport_name']").text
    arrival_air = driver.find_element(By.CSS_SELECTOR,"h2[data-flight-data^='arr_airport_name']").text
    date_time = driver.find_element(By.CSS_SELECTOR,"strong[data-flight-data^='arr_scheduled_time']").text
    actual_time = driver.find_element(By.CSS_SELECTOR,"strong[data-flight-data^='arr_expected_time']").text
    terminal = driver.find_element(By.CSS_SELECTOR,"i[data-flight-data^='terminal_arr']").text
    check_in = driver.find_element(By.CSS_SELECTOR,"strong[data-flight-data^='arr_belt']").text
    gate = driver.find_element(By.CSS_SELECTOR,"strong[data-flight-data^='gate_arr']").text
    airline = driver.find_element(By.CSS_SELECTOR,"span[data-flight-data^='airline_name']").text
    flight_nr = driver.find_element(By.CSS_SELECTOR,"strong[data-flight-data^='flight_number_details']").text
    aircraft_type = driver.find_element(By.CSS_SELECTOR,"strong[data-flight-data^='aircraft_type']").text
    plane_reg = driver.find_element(By.CSS_SELECTOR,"strong[data-flight-data^='aircraft_reg']").text
    status = driver.find_element(By.CSS_SELECTOR,"u[data-flight-data^='flight_status_label']").text

    flight_idx_list_arr = [depart_air, arrival_air, date_time, actual_time, terminal, check_in, gate, flight_nr, aircraft_type, plane_reg, status, airline]
    
    flight_data_arr.append(flight_idx_list_arr)
    
    
    for_loading = for_loading+1
    print(f"{for_loading} out of {len(href_list_arr)} scraped")
    
arrival_dataframe = pd.DataFrame(flight_data_arr,
                                 columns = ["Departure", "Destination", "Date and Time", "Actual Arrival", "Terminal", "Baggage Claim" , "Gate", "Flight Number", "Aircraft Type", "Plane Reg", "Flight Status", "Airline" ]
                                )

arrival_dataframe.to_excel(f"/Users/martynas/Desktop/Ironhack/Project - Final/Data Collection/Berlin Data/arrivals_september_{date_of_scrape}.xlsx",
                           sheet_name='Flights',
                           index= False)

What Date: 13
1 out of 300 scraped
2 out of 300 scraped
3 out of 300 scraped
4 out of 300 scraped
5 out of 300 scraped
6 out of 300 scraped
7 out of 300 scraped
8 out of 300 scraped
9 out of 300 scraped
10 out of 300 scraped
11 out of 300 scraped
12 out of 300 scraped
13 out of 300 scraped
14 out of 300 scraped
15 out of 300 scraped
16 out of 300 scraped
17 out of 300 scraped
18 out of 300 scraped
19 out of 300 scraped
20 out of 300 scraped
21 out of 300 scraped
22 out of 300 scraped
23 out of 300 scraped
24 out of 300 scraped
25 out of 300 scraped
26 out of 300 scraped
27 out of 300 scraped
28 out of 300 scraped
29 out of 300 scraped
30 out of 300 scraped
31 out of 300 scraped
32 out of 300 scraped
33 out of 300 scraped
34 out of 300 scraped
35 out of 300 scraped
36 out of 300 scraped
37 out of 300 scraped
38 out of 300 scraped
39 out of 300 scraped
40 out of 300 scraped
41 out of 300 scraped
42 out of 300 scraped
43 out of 300 scraped
44 out of 300 scraped
45 out of 300 scraped
46 out of 300 scraped
47 out of 300 scraped
48 out of 300 scraped
49 out of 300 scraped
50 out of 300 scraped
51 out of 300 scraped
52 out of 300 scraped
53 out of 300 scraped
54 out of 300 scraped
55 out of 300 scraped
56 out of 300 scraped
57 out of 300 scraped
58 out of 300 scraped
59 out of 300 scraped
60 out of 300 scraped
61 out of 300 scraped
62 out of 300 scraped
63 out of 300 scraped
64 out of 300 scraped
65 out of 300 scraped
66 out of 300 scraped
67 out of 300 scraped
68 out of 300 scraped
69 out of 300 scraped
70 out of 300 scraped
71 out of 300 scraped
72 out of 300 scraped
73 out of 300 scraped
74 out of 300 scraped
75 out of 300 scraped
76 out of 300 scraped
77 out of 300 scraped
78 out of 300 scraped
79 out of 300 scraped
80 out of 300 scraped
81 out of 300 scraped
82 out of 300 scraped
83 out of 300 scraped
84 out of 300 scraped
85 out of 300 scraped
86 out of 300 scraped
87 out of 300 scraped
88 out of 300 scraped
89 out of 300 scraped
90 out of 300 scraped
91 out of 300 scraped
92 out of 300 scraped
93 out of 300 scraped
94 out of 300 scraped
95 out of 300 scraped
96 out of 300 scraped
97 out of 300 scraped
98 out of 300 scraped
99 out of 300 scraped
100 out of 300 scraped
101 out of 300 scraped
102 out of 300 scraped
103 out of 300 scraped
104 out of 300 scraped
105 out of 300 scraped
106 out of 300 scraped
107 out of 300 scraped
108 out of 300 scraped
109 out of 300 scraped
110 out of 300 scraped
111 out of 300 scraped
112 out of 300 scraped
113 out of 300 scraped
114 out of 300 scraped
115 out of 300 scraped
116 out of 300 scraped
117 out of 300 scraped
118 out of 300 scraped
119 out of 300 scraped
120 out of 300 scraped
121 out of 300 scraped
122 out of 300 scraped
123 out of 300 scraped
124 out of 300 scraped
125 out of 300 scraped
126 out of 300 scraped
127 out of 300 scraped
128 out of 300 scraped
129 out of 300 scraped
130 out of 300 scraped
131 out of 300 scraped
132 out of 300 scraped
133 out of 300 scraped
134 out of 300 scraped
135 out of 300 scraped
136 out of 300 scraped
137 out of 300 scraped
138 out of 300 scraped
139 out of 300 scraped
140 out of 300 scraped
141 out of 300 scraped
142 out of 300 scraped
143 out of 300 scraped
144 out of 300 scraped
145 out of 300 scraped
146 out of 300 scraped
147 out of 300 scraped
148 out of 300 scraped
149 out of 300 scraped
150 out of 300 scraped
151 out of 300 scraped
152 out of 300 scraped
153 out of 300 scraped
154 out of 300 scraped
155 out of 300 scraped
156 out of 300 scraped
157 out of 300 scraped
158 out of 300 scraped
159 out of 300 scraped
160 out of 300 scraped
161 out of 300 scraped
162 out of 300 scraped
163 out of 300 scraped
164 out of 300 scraped
165 out of 300 scraped
166 out of 300 scraped
167 out of 300 scraped
168 out of 300 scraped
169 out of 300 scraped
170 out of 300 scraped
171 out of 300 scraped
172 out of 300 scraped
173 out of 300 scraped
174 out of 300 scraped
175 out of 300 scraped
176 out of 300 scraped
177 out of 300 scraped
178 out of 300 scraped
179 out of 300 scraped
180 out of 300 scraped
181 out of 300 scraped
182 out of 300 scraped
183 out of 300 scraped
184 out of 300 scraped
185 out of 300 scraped
186 out of 300 scraped
187 out of 300 scraped
188 out of 300 scraped
189 out of 300 scraped
190 out of 300 scraped
191 out of 300 scraped
192 out of 300 scraped
193 out of 300 scraped
194 out of 300 scraped
195 out of 300 scraped
196 out of 300 scraped
197 out of 300 scraped
198 out of 300 scraped
199 out of 300 scraped
200 out of 300 scraped
201 out of 300 scraped
202 out of 300 scraped
203 out of 300 scraped
204 out of 300 scraped
205 out of 300 scraped
206 out of 300 scraped
207 out of 300 scraped
208 out of 300 scraped
209 out of 300 scraped
210 out of 300 scraped
211 out of 300 scraped
212 out of 300 scraped
213 out of 300 scraped
214 out of 300 scraped
215 out of 300 scraped
216 out of 300 scraped
217 out of 300 scraped
218 out of 300 scraped
219 out of 300 scraped
220 out of 300 scraped
221 out of 300 scraped
222 out of 300 scraped
223 out of 300 scraped
224 out of 300 scraped
225 out of 300 scraped
226 out of 300 scraped
227 out of 300 scraped
228 out of 300 scraped
229 out of 300 scraped
230 out of 300 scraped
231 out of 300 scraped
232 out of 300 scraped
233 out of 300 scraped
234 out of 300 scraped
235 out of 300 scraped
236 out of 300 scraped
237 out of 300 scraped
238 out of 300 scraped
239 out of 300 scraped
240 out of 300 scraped
241 out of 300 scraped
242 out of 300 scraped
243 out of 300 scraped
244 out of 300 scraped
245 out of 300 scraped
246 out of 300 scraped
247 out of 300 scraped
248 out of 300 scraped
249 out of 300 scraped
250 out of 300 scraped
251 out of 300 scraped
252 out of 300 scraped
253 out of 300 scraped
254 out of 300 scraped
255 out of 300 scraped
256 out of 300 scraped
257 out of 300 scraped
258 out of 300 scraped
259 out of 300 scraped
260 out of 300 scraped
261 out of 300 scraped
262 out of 300 scraped
263 out of 300 scraped
264 out of 300 scraped
265 out of 300 scraped
266 out of 300 scraped
267 out of 300 scraped
268 out of 300 scraped
269 out of 300 scraped
270 out of 300 scraped
271 out of 300 scraped
272 out of 300 scraped
273 out of 300 scraped
274 out of 300 scraped
275 out of 300 scraped
276 out of 300 scraped
277 out of 300 scraped
278 out of 300 scraped
279 out of 300 scraped
280 out of 300 scraped
281 out of 300 scraped
282 out of 300 scraped
283 out of 300 scraped
284 out of 300 scraped
285 out of 300 scraped
286 out of 300 scraped
287 out of 300 scraped
288 out of 300 scraped
289 out of 300 scraped
290 out of 300 scraped
291 out of 300 scraped
292 out of 300 scraped
293 out of 300 scraped
294 out of 300 scraped
295 out of 300 scraped
296 out of 300 scraped
297 out of 300 scraped
298 out of 300 scraped
299 out of 300 scraped
300 out of 300 scraped

### Close Driver

In [10]:
driver.close()

---

### Combining and Cleaning the dataframes

#### Departures

In [70]:
folder_path = '/Users/martynas/Desktop/Ironhack/Project - Final/Data Collection/Berlin Data'

# Initialize an empty list to store the dataframes
dfs = []

# Loop through the file names and load each Excel file into a dataframe
for day in range(1, 32):
    try:
        file_name = f'departures_june_{day:02}.xlsx'
        file_path = os.path.join(folder_path, file_name)
        df = pd.read_excel(file_path)
        dfs.append(df)
    except:
        pass
    try:
        file_name = f'departures_july_{day:02}.xlsx'
        file_path = os.path.join(folder_path, file_name)
        df = pd.read_excel(file_path)
        dfs.append(df)
    except:
        pass
    try:
        file_name = f'departures_september_{day:02}.xlsx'
        file_path = os.path.join(folder_path, file_name)
        df = pd.read_excel(file_path)
        dfs.append(df)
    except:
        pass

# Concatenate all dataframes into one
combined_df_dep = pd.concat(dfs, ignore_index=True)

# Display the final dataframe (or use it for further analysis)
display(combined_df_dep.head())
display(combined_df_dep.shape)

,Departure,Destination,Date and Time,Actual Departure,Terminal,Check In,Gate,Flight Number,Aircraft Type,Plane Reg,Flight Status,Airline
0,Berlin Brandenburg Airport,Palma de Mallorca,01/07/2024 05:20,NaN,T1,011-013,B12,SR 2412,A320-200,DASGK,Departed,SUNDAIR (SDR)
1,Berlin Brandenburg Airport,Ibiza,01/07/2024 05:30,NaN,T1,323-326,A20,EW 8540,A321 neo,DAEEA,Departed,Eurowings (EW)
2,Berlin Brandenburg Airport,Palma de Mallorca,01/07/2024 06:00,NaN,T1,611-616,A33,EJU5119,A320-200 Sharklets,OEIBS,Departed,easyJet Europe (EJU)
3,Berlin Brandenburg Airport,Zurich,01/07/2024 06:00,NaN,T1,611-616,A10,EJU5187,A320-200 Sharklets,OEIZN,Departed,easyJet Europe (EJU)
4,Berlin Brandenburg Airport,Palma de Mallorca,01/07/2024 06:00,NaN,T2,158-165,B30,FR 110,737-800 Winglets,9HQAD,Departed,Ryanair (FR)

(6761, 12)

In [11]:
date_new = input("What date: ")
combined_df_dep = pd.read_excel(f"/Users/martynas/Desktop/Ironhack/Project - Final/Data Collection/Berlin Data/departures_september_{date_new}.xlsx")

What date: 13

In [12]:
airline_filter = pd.read_csv('/Users/martynas/Desktop/Ironhack/Project - Final/airlines_list.csv')
combined_df_dep['Departure'] = combined_df_dep['Departure'].replace('Berlin Brandenburg Airport', 'Berlin')
combined_df_dep[['Date', 'Scheduled Time']] = combined_df_dep['Date and Time'].str.split(' ', expand=True)
combined_df_dep[['Date Schedule', 'Actual Departure Time']] = combined_df_dep['Actual Departure'].str.split(' ', expand=True)
combined_df_dep.drop(columns=['Date and Time'], inplace=True)
combined_df_dep.drop(columns=['Date Schedule'], inplace=True)
combined_df_dep.drop(columns=['Actual Departure'], inplace=True)
combined_df_dep['Terminal'] = combined_df_dep['Terminal'].str.replace('T', '')
combined_df_dep = combined_df_dep[combined_df_dep['Departure'] != '#####']
combined_df_dep['Terminal'] = combined_df_dep['Terminal'].astype('Int64')
combined_df_dep['Date'] = pd.to_datetime(combined_df_dep['Date'], dayfirst=True)
combined_df_dep['Date'] = combined_df_dep['Date'].astype(str)
combined_df_dep['Scheduled DateTime'] = pd.to_datetime(combined_df_dep['Date'] + ' ' + combined_df_dep['Scheduled Time'])
combined_df_dep['Actual Departure DateTime'] = pd.to_datetime(combined_df_dep['Date'] + ' ' + combined_df_dep['Actual Departure Time'])
combined_df_dep['Time Difference'] = combined_df_dep['Actual Departure DateTime'] - combined_df_dep['Scheduled DateTime']
combined_df_dep['Time Difference (Minutes)'] = (combined_df_dep['Time Difference'].dt.total_seconds() / 60)
combined_df_dep['Time Difference (Minutes)'] = combined_df_dep['Time Difference (Minutes)'].fillna(0).round().astype(int)
mask_positive = combined_df_dep['Time Difference (Minutes)'] > 1000
mask_negative = combined_df_dep['Time Difference (Minutes)'] < -1000
combined_df_dep.loc[mask_positive, 'Time Difference (Minutes)'] = combined_df_dep['Time Difference (Minutes)'] - 1440
combined_df_dep.loc[mask_negative, 'Time Difference (Minutes)'] = combined_df_dep['Time Difference (Minutes)'] + 1440
combined_df_dep.drop(columns=['Time Difference'], inplace=True)
combined_df_dep.drop(columns=['Actual Departure DateTime'], inplace=True)
combined_df_dep.drop(columns=['Scheduled DateTime'], inplace=True)
combined_df_dep['Actual Departure Time'].fillna(combined_df_dep['Scheduled Time'], inplace=True)
city_country_df = pd.read_excel('/Users/martynas/Desktop/Ironhack/Project - Final/city_country_mapping.xlsx')
combined_df_dep = pd.merge(combined_df_dep, city_country_df, left_on='Destination', right_on='Destination City', how='left')
drop_cols = ['Destination City']
combined_df_dep = combined_df_dep.drop(columns=drop_cols)
combined_df_dep = pd.merge(combined_df_dep, airline_filter, on='Airline', how='left')

def classify_departure_time_difference(diff):
    if diff == 0:
        return 'On Time'
    elif diff > 0:
        return 'Delayed'
    else:
        return 'Early'

combined_df_dep['Status'] = combined_df_dep['Time Difference (Minutes)'].apply(classify_departure_time_difference)
combined_df_dep.loc[combined_df_dep['Flight Status'] == 'Cancelled', 'Status'] = 'Cancelled'

#### Arrivals

In [72]:
folder_path = '/Users/martynas/Desktop/Ironhack/Project - Final/Data Collection/Berlin Data'

# Initialize an empty list to store the dataframes
dfs = []

# Loop through the file names and load each Excel file into a dataframe
for day in range(1, 32):
    try:
        file_name = f'arrivals_june_{day:02}.xlsx'
        file_path = os.path.join(folder_path, file_name)
        df = pd.read_excel(file_path)
        dfs.append(df)
    except:
        pass
    try:
        file_name = f'arrivals_july_{day:02}.xlsx'
        file_path = os.path.join(folder_path, file_name)
        df = pd.read_excel(file_path)
        dfs.append(df)
    except:
        pass
    try:
        file_name = f'arrivals_september_{day:02}.xlsx'
        file_path = os.path.join(folder_path, file_name)
        df = pd.read_excel(file_path)
        dfs.append(df)
    except:
        pass

# Concatenate all dataframes into one
combined_df_arr = pd.concat(dfs, ignore_index=True)

# Display the final dataframe (or use it for further analysis)
display(combined_df_arr.head())
display(combined_df_arr.shape)

,Departure,Destination,Date and Time,Actual Arrival,Terminal,Baggage Claim,Gate,Flight Number,Aircraft Type,Plane Reg,Flight Status,Airline
0,Tbilisi,Berlin Brandenburg Airport,01/07/2024 05:40,01/07/2024 06:23,T1,B4,N01,EW 8993,A320-200,9HMLP,Arrived,Eurowings (EW)
1,Izmir ADB,Berlin Brandenburg Airport,01/07/2024 06:30,01/07/2024 06:10,T1,A4,N02,XQ 966,737-800 Winglets,TCSOG,Arrived,Sun Express (XQ)
2,Beijing,Berlin Brandenburg Airport,01/07/2024 06:45,01/07/2024 07:25,T1,A2,X17,HU 489,A330-300,B1021,Arrived,Hainan Airlines (HU)
3,Gaziantep,Berlin Brandenburg Airport,01/07/2024 06:45,01/07/2024 11:55,T1,A4,N02,XQ 1766,737-800 Winglets,TCSPU,Arrived,Sun Express (XQ)
4,New York EWR,Berlin Brandenburg Airport,01/07/2024 07:15,01/07/2024 09:01,T1,B3,Y17,UA 962,767-400/400ER,N76054,Arrived,United Airlines (UA)

(6739, 12)

In [13]:
date_new = input("What date: ")
combined_df_arr = pd.read_excel(f"/Users/martynas/Desktop/Ironhack/Project - Final/Data Collection/Berlin Data/arrivals_september_{date_new}.xlsx")

What date: 13

In [14]:
airline_filter = pd.read_csv('/Users/martynas/Desktop/Ironhack/Project - Final/airlines_list.csv')
combined_df_arr['Destination'] = combined_df_arr['Destination'].replace('Berlin Brandenburg Airport', 'Berlin')
combined_df_arr[['Date', 'Scheduled Time']] = combined_df_arr['Date and Time'].str.split(' ', expand=True)
combined_df_arr[['Date Schedule', 'Actual Arrival Time']] = combined_df_arr['Actual Arrival'].str.split(' ', expand=True)
combined_df_arr.drop(columns=['Date and Time'], inplace=True)
combined_df_arr.drop(columns=['Date Schedule'], inplace=True)
combined_df_arr.drop(columns=['Actual Arrival'], inplace=True)
combined_df_arr['Terminal'] = combined_df_arr['Terminal'].str.replace('T', '')
combined_df_arr = combined_df_arr[combined_df_arr['Departure'] != '#####']
combined_df_arr['Terminal'] = combined_df_arr['Terminal'].astype('Int64')
combined_df_arr['Date'] = pd.to_datetime(combined_df_arr['Date'], dayfirst=True)
combined_df_arr['Date'] = combined_df_arr['Date'].astype(str)
combined_df_arr['Scheduled DateTime'] = pd.to_datetime(combined_df_arr['Date'] + ' ' + combined_df_arr['Scheduled Time'])
combined_df_arr['Actual Arrival DateTime'] = pd.to_datetime(combined_df_arr['Date'] + ' ' + combined_df_arr['Actual Arrival Time'])
combined_df_arr['Time Difference'] = combined_df_arr['Actual Arrival DateTime'] - combined_df_arr['Scheduled DateTime']
combined_df_arr['Time Difference (Minutes)'] = (combined_df_arr['Time Difference'].dt.total_seconds() / 60)
combined_df_arr['Time Difference (Minutes)'] = combined_df_arr['Time Difference (Minutes)'].fillna(0).round().astype(int)
mask_positive = combined_df_arr['Time Difference (Minutes)'] > 1000
mask_negative = combined_df_arr['Time Difference (Minutes)'] < -1000
combined_df_arr.loc[mask_positive, 'Time Difference (Minutes)'] = combined_df_arr['Time Difference (Minutes)'] - 1440
combined_df_arr.loc[mask_negative, 'Time Difference (Minutes)'] = combined_df_arr['Time Difference (Minutes)'] + 1440
combined_df_arr.drop(columns=['Time Difference'], inplace=True)
combined_df_arr.drop(columns=['Actual Arrival DateTime'], inplace=True)
combined_df_arr.drop(columns=['Scheduled DateTime'], inplace=True)
combined_df_arr['Actual Arrival Time'].fillna(combined_df_arr['Scheduled Time'], inplace=True)
city_country_df = pd.read_excel('/Users/martynas/Desktop/Ironhack/Project - Final/city_country_mapping.xlsx')
combined_df_arr = pd.merge(combined_df_arr, city_country_df, left_on='Departure', right_on='Destination City', how='left')
drop_cols = ['Destination City']
combined_df_arr = combined_df_arr.drop(columns=drop_cols)
combined_df_arr = pd.merge(combined_df_arr, airline_filter, on='Airline', how='left')
def classify_arrival_time_difference(diff):
    if diff == 0:
        return 'On Time'
    elif diff > 0:
        return 'Delayed'
    else:
        return 'Early'

combined_df_arr['Status'] = combined_df_arr['Time Difference (Minutes)'].apply(classify_arrival_time_difference)
combined_df_arr.loc[combined_df_arr['Flight Status'] == 'Cancelled', 'Status'] = 'Cancelled'

---

## Export to SQL

### Departures

In [15]:
# Step 1: Connect to the MySQL Database
connection = mysql.connector.connect(
    host="127.0.0.1",         # Database host (use "localhost" if running locally)
    user="root",              # Your MySQL username
    password="Lolablades1.",   # Your MySQL password
    database="Flights"         # Database name
)

cursor = connection.cursor()

# Step 2: Double-check the connection
if connection.is_connected():
    print("Connection to the database is successful!")
    
    # Step 3: Run a simple query to verify the connection
    try:
        cursor.execute("SHOW TABLES;")
        tables = cursor.fetchall()
        print("Tables in the database:", tables)
    except mysql.connector.Error as err:
        print(f"Error: {err}")
else:
    print("Connection failed.")

Connection to the database is successful!
Tables in the database: [('airlines_list',), ('berlin_arrivals',), ('berlin_departures',), ('departure_ai',), ('heathrow_arrivals',), ('heathrow_departures',), ('lisbon_arrivals',), ('lisbon_departures',)]

In [16]:
combined_df_dep['Actual Departure Time'] = combined_df_dep['Actual Departure Time'].replace(np.nan, None)
combined_df_dep['Scheduled Time'] = combined_df_dep['Scheduled Time'].replace(np.nan, None)
combined_df_dep['Terminal'] = combined_df_dep['Terminal'].apply(lambda x: None if pd.isna(x) else x)

In [17]:
# Step 3: Create the table (if it doesn't exist) with additional columns adjusted for SQL types
create_table_query = """
CREATE TABLE IF NOT EXISTS berlin_departures (
    id INT AUTO_INCREMENT PRIMARY KEY,
    flight_number VARCHAR(10),                  -- Flight number as VARCHAR
    airline VARCHAR(100),                       -- Airline as VARCHAR
    status VARCHAR(50),                         -- Flight status as VARCHAR
    time_departed TIME,                         -- Time of departure as TIME
    departure_time_scheduled TIME,              -- Scheduled departure time as TIME
    terminal VARCHAR(8),                        -- Terminal as VARCHAR
    date_depart DATE,                           -- Departure date as DATE
    departure_city VARCHAR(100),                -- Departure city as VARCHAR
    destination_city VARCHAR(100),              -- Destination city as VARCHAR
    country VARCHAR(100),                       -- Country as VARCHAR
    departure_time_difference INT,              -- Difference in departure time as INT
    check_in VARCHAR(10),                       -- Check In as VARCHAR
    gate VARCHAR(10),                           -- Gate as VARCHAR
    aircraft_type VARCHAR(100),                  -- Aircraft Type as VARCHAR
    plane_registration VARCHAR(20),             -- Plane Registration as VARCHAR
    airline_type VARCHAR(8),                    -- Budget or Premium as VARCHAR
    departure_status VARCHAR(20)                -- Departure status as VARCHAR
);
"""
cursor.execute(create_table_query)


# Step 4: Prepare SQL query to insert data
insert_query = """
INSERT INTO berlin_departures (
    flight_number, airline, status, time_departed,
    departure_time_scheduled, terminal, date_depart,
    departure_city, destination_city, country,
    departure_time_difference, check_in, gate, aircraft_type,
    plane_registration, airline_type, departure_status
)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

# Step 5: Iterate over the DataFrame and insert each row into the table
for i, row in combined_df_dep.iterrows():
    try:
        cursor.execute(insert_query, (
            row['Flight Number'],
            row['Airline'],
            row['Flight Status'],
            row['Actual Departure Time'],
            row['Scheduled Time'],
            row['Terminal'],
            row['Date'],
            row['Departure'],
            row['Destination'],
            row['Country'],
            row['Time Difference (Minutes)'],
            row['Check In'],
            row['Gate'],
            row['Aircraft Type'],
            row['Plane Reg'],
            row['Type'],
            row['Status']
        ))
    except mysql.connector.Error as err:
        print(f"Error at row {i}: {err}")

# Step 6: Commit the transaction and close the connection
connection.commit()

cursor.close()
connection.close()

print("CSV file uploaded successfully!")

CSV file uploaded successfully!

### Arrivals

In [18]:
# Step 1: Connect to the MySQL Database
connection = mysql.connector.connect(
    host="127.0.0.1",         # Database host (use "localhost" if running locally)
    user="root",              # Your MySQL username
    password="Lolablades1.",   # Your MySQL password
    database="Flights"         # Database name
)

cursor = connection.cursor()

# Step 2: Double-check the connection
if connection.is_connected():
    print("Connection to the database is successful!")
    
    # Step 3: Run a simple query to verify the connection
    try:
        cursor.execute("SHOW TABLES;")
        tables = cursor.fetchall()
        print("Tables in the database:", tables)
    except mysql.connector.Error as err:
        print(f"Error: {err}")
else:
    print("Connection failed.")

Connection to the database is successful!
Tables in the database: [('airlines_list',), ('berlin_arrivals',), ('berlin_departures',), ('departure_ai',), ('heathrow_arrivals',), ('heathrow_departures',), ('lisbon_arrivals',), ('lisbon_departures',)]

In [19]:
combined_df_arr['Actual Arrival Time'] = combined_df_arr['Actual Arrival Time'].replace(np.nan, None)
combined_df_arr['Scheduled Time'] = combined_df_arr['Scheduled Time'].replace(np.nan, None)
combined_df_arr['Terminal'] = combined_df_arr['Terminal'].apply(lambda x: None if pd.isna(x) else x)

In [20]:
# Step 3: Create the table (if it doesn't exist) with additional columns adjusted for SQL types
create_table_query = """
CREATE TABLE IF NOT EXISTS berlin_arrivals (
    id INT AUTO_INCREMENT PRIMARY KEY,
    flight_number VARCHAR(10),                  -- Flight number as VARCHAR
    airline VARCHAR(100),                       -- Airline as VARCHAR
    status VARCHAR(50),                         -- Flight status as VARCHAR
    time_arrived TIME,                          -- Time of arrival as TIME
    arrive_time_scheduled TIME,                 -- Scheduled arrival time as TIME
    terminal VARCHAR(8),                        -- Terminal as VARCHAR
    date_arrive DATE,                           -- Arrival date as DATE
    departure_city VARCHAR(100),                -- Departure city as VARCHAR
    destination_city VARCHAR(100),              -- Destination city as VARCHAR
    country VARCHAR(100),                       -- Country as VARCHAR
    arrival_time_difference INT,                -- Difference in arrival time as INT
    baggage_claim VARCHAR(10),                  -- Baggage claim area as VARCHAR
    gate VARCHAR(10),                           -- Gate as VARCHAR
    aircraft_type VARCHAR(100),                 -- Aircraft Type as VARCHAR
    plane_registration VARCHAR(20),             -- Plane Registration as VARCHAR
    airline_type VARCHAR(8),                    -- Budget or Premium as VARCHAR
    arrival_status VARCHAR(20)                  -- Arrival status as VARCHAR
);
"""
cursor.execute(create_table_query)

# Step 4: Prepare SQL query to insert data
insert_query = """
INSERT INTO berlin_arrivals (
    flight_number, airline, status, time_arrived,
    arrive_time_scheduled, terminal, date_arrive,
    departure_city, destination_city, country,
    arrival_time_difference, baggage_claim, gate, aircraft_type,
    plane_registration, airline_type, arrival_status
)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

# Step 5: Iterate over the DataFrame and insert each row into the table
for i, row in combined_df_arr.iterrows():
    try:
        cursor.execute(insert_query, (
            row['Flight Number'],
            row['Airline'],
            row['Flight Status'],
            row['Actual Arrival Time'],
            row['Scheduled Time'],
            row['Terminal'],
            row['Date'],
            row['Departure'],
            row['Destination'],
            row['Country'],
            row['Time Difference (Minutes)'],
            row['Baggage Claim'],
            row['Gate'],
            row['Aircraft Type'],
            row['Plane Reg'],
            row['Type'],
            row['Status']
        ))
    except mysql.connector.Error as err:
        print(f"Error at row {i}: {err}")

# Step 6: Commit the transaction and close the connection
connection.commit()
cursor.close()
connection.close()

print("CSV file uploaded successfully!")

CSV file uploaded successfully!

---